
.formstyle
{
    background-color:#00b3b3;
    border-radius:4px;
    padding:10px;
    color:white;
}
.shadowfloat
{
    box-shadow: 4px 12px 15px rgba(0, 0, 0, 0.5);

}
.dropBoxText
{
    color:black;
}
.dropBoxWhite
{
    color:white;
}
.teal_text{
    color:#00b3b3;
}
.light_shadow{
    box-shadow: 4px 10px 10px #aaaaaa;

}
span::before{
    font-size:200px;

}

.teal_nav {
    background: #00b3b3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#00e6e6, #00b3b3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#00e6e6, #00b3b3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#00e6e6, #00b3b3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#00e6e6, #00b3b3); /* Standard syntax */
    border: none;
    border-radius: 0px;
}

.white_text
{
    color:white;
}
.active_tab
{
    background: #00b3b3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#009999, #008080); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#009999, #008080); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#009999, #008080); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#009999, #008080); /* Standard syntax */
}

.right_border_tick
{
    border-right: 1px solid white;
}


